@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Group 4's Final Project</h1>
    <p> </p>
    <h3>Team Members: </h3>
    <p>Erin McManus, Nivedha Balasubramanian, Josh Moore, and Noah Wardega</a>.</p>
    <p> </p>

    <a href="http://localhost:5179/swagger"> Swagger UI Link</a>
</div>
